{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<div class="table-container">
    <div class="overlay"></div>
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            {% for column in columns %}
              {% if column not in hide_columns %}
                {% if column in searchable_columns %}
                  {% if column in number_fields %}
                    <th>{{ column|title }} <input type="number" id="{{ column }}-filter" class="form-control form-control-sm">
                  {% else %}
                    <th>{{ column|title }} <input type="text" id="{{ column }}-filter" class="form-control form-control-sm">
                  {% endif %}
                  </th>
                {% else %}
                  {% if column == 'id' %}
                    <th style="display:none">{{ column|title }}</th>
                  {% else %}
                    <th>{{ column|title }}</th>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
            <th style="width: 70px;">Options</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<script>
    const table = document.getElementById("data");
    const overlay = document.querySelector(".table-container .overlay");

    function adjustOverlay() {
      const tableRect = table.getBoundingClientRect();
      overlay.style.top = tableRect.top + "px";
      overlay.style.left = tableRect.left + "px";
      overlay.style.width = tableRect.width + "px";
      overlay.style.height = tableRect.height + "px";
    }

    function handleScroll() {
      adjustOverlay();
    }

    window.addEventListener("resize", adjustOverlay);
    table.addEventListener("scroll", handleScroll);

</script>



<div class="row mt-3">
    <div class="col">
        <form id="data-form" class = form-wrapper>
            {% for column in columns %}
            {% if column not in hide_columns %}
            <div class="form-group">
                <label style="font-weight: bold; display: inline-block;" for="{{ column }}">{{ column|title }}</label>
                {% if column in session['ERR_MSGS'] %}
                    <label style="color: red; display: inline-block;" for="{{ column }}" class="form-label">{{ session['ERR_MSGS'][column] }}</label>
                {% endif %}
                {% if column in number_fields %}
                    <input type="number" class="form-control bg-readonly" min="18" max="100" id="{{ column }}" name="{{ column }}" readonly>
                {% else %}
                    <input type="text" class="form-control bg-readonly" id="{{ column }}" name="{{ column }}" readonly>
                {% endif %}
            </div>
            {% else %}
            <div class="form-group">
                <label hidden for="{{ column }}">{{ column|title }}</label>
                <input type="hidden" class="form-control" id="{{ column }}" name="{{ column }}" readonly>
            </div>
            {% endif %}
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary" disabled>Save</button>
                <button type="cancel" class="btn btn-primary" disabled>Cancel</button>
            </div>
        </form>
    </div>
</div>

<p id="debug-message"></p>



{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
      var selectedRowIndex = 0;
      var rowData = sessionStorage.getItem("rdata"); 
      var saveMode = sessionStorage.getItem("savemode");
      if (!saveMode) {
        saveMode = "";
      }



      function popupDebug(message) {
        // Set the text of the debug message div
        // message = JSON.stringify(message);
        document.getElementById("debug-message").innerHTML = message;
        $('#debug-message').text(message);
        // Open the modal dialog
        $('#debug-modal').modal('show');
      }

      function log(message) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/log");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("message=" + encodeURIComponent(message));
      }

    function sleep(miliseconds) {
       var currentTime = new Date().getTime();

       while (currentTime + miliseconds >= new Date().getTime()) {
       }
    }


    function resetErrors() {

        $.ajax({
          type: "GET",
          url: "/reset_errors",
          success: function(response) {
            console.log(response); // Session reset
              },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log("Error: " + errorThrown);
              }
          });
          sleep(50);
      }


    function getErrors() {

        $.ajax({
          type: "GET",
          url: "/get_errors",
          success: function(response) {
            console.log(response); // Session reset
              },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log("Error: " + errorThrown);
              }
          });
          sleep(50);
      }      




      var table = $('#data').DataTable({
          ajax: '/api/company_data',
          columns: [
              {% for column in columns %}
                  {% if column not in hide_columns %}
                      {% if column in orderable_columns %}
                          {data: '{{ column }}', orderable: true, searchable: true},
                      {% else %}
                          {data: '{{ column }}', orderable: false},
                      {% endif %}
                  {% endif %}
              {% endfor %}
              {
                  "orderable": false,
                  "data": null,
                  "defaultContent": '<button class="edit_png"><img src="{{url_for('static', filename='pictures/edit.png')}}" align="middle" width=23 height=auto /></button>' 
                                     + '<button class="delete_png"><img src="{{ url_for('static', filename='pictures/delete.png') }}"></button>'
              },
          ],
          lengthMenu: [[1, 5, 10, 25, 50, -1], [1, 5, 10, 25, 50, "All"]],
          pageLength: 5
      });




      const savedInputs = JSON.parse(sessionStorage.getItem('formData'));
      if (!savedInputs && saveMode ==="" && $('#data tbody tr').length > 0 ) {
        // Reload the table
          // wait for the table to finish drawing
          $('#data').one('draw.dt', function () {
            // highlight the first row with a custom background color
              $('#data tbody tr:eq(0)').click(); // Click the first row
              $('#data tbody tr:first').addClass('bg-custom');
          });        
      }     



      // Find the label element
      const label = document.querySelector('#data_filter > label:nth-child(1)');
      // Count the number of previous siblings
      let position = 0;
      let prevSibling = label.previousSibling;
      while (prevSibling) {
        if (prevSibling.nodeType === Node.ELEMENT_NODE) {
          position++;
        }
        prevSibling = prevSibling.previousSibling;
      }



      // Create the clear button element
      const clearBtn = document.createElement('button');
      clearBtn.textContent = 'Clear';
      clearBtn.classList.add('btn', 'btn-primary');
      clearBtn.style.marginRight = '10px';

      // Create the Add button element
      const addBtn = document.createElement('button');
      addBtn.textContent = 'Add';
      addBtn.classList.add('btn', 'btn-primary');
      addBtn.style.marginRight = '10px';

      // Insert the clear and save buttons before the label element
      label.parentNode.insertBefore(clearBtn, label);
      label.parentNode.insertBefore(addBtn, clearBtn);




      // disable sorting when clicking on filter inputs
      $('#data thead input').on('click', function(e) {
          e.stopPropagation();
      });



      
      // filter table based on input
      table.columns().every(function () {
        var that = this;
        $('input', this.header()).on('keyup change', function () {
          if (that.search() !== this.value) {
            // that.search(this.value).draw();
            that.search(this.value, true, false).draw();
          }
        });
      });


      var previous = null;
      $('#data tbody').on('click', 'tr', function () {
        $('#data tbody tr').removeClass('bg-custom');
        $(this).addClass('bg-custom');
        selectedRowIndex = $(this).index;
        var data = table.row(this).data();
        previous = this;
      });

      // check if search or filter is applied and sort table accordingly
      {% for column in searchable_columns %}
        var filterInput = $('#{{ column }}-filter');
        if (filterInput.val()) {
          table.column('{{ loop.index0 }}').search(filterInput.val());
        }
      {% endfor %}



    
<!--    $('#data tbody tr:first-child').addClass('bg-custom');-->


    function setSaveMode(mode) {
      var saveMode = sessionStorage.setItem("savemode",mode);
    }


    function hidePagination() {
      var col = document.querySelector('.col-md-7');
      col.style.display = 'none';
    }

    function showPagination() {
      var col = document.querySelector('.col-md-7');
      col.style.display = 'block';
    }


    // Get the search input element
    const searchInput = document.querySelector('#data_filter input');


    // Listen for keyup event on search input
    searchInput.addEventListener('keyup', function() {
      // Get the first row of the table
      const firstRow = document.querySelector('#data tbody tr:first-child');
      clearFormInputs();
      // Click on the first row of the table
      firstRow.click();
    });


    function clearFormInputs() {
      $('#data-form :input').each(function() {
        $(this).val('');
      });
    }



      function getFormInputs(formId) {
        const form = document.querySelector('#' + formId);
        const inputs = form.querySelectorAll('input[type="text"], input[type="number"], input[type="hidden"]');
        const values = {};

        inputs.forEach(input => {
          if (input.name) {
            values[input.name] = input.value;
          }
        });

        return values;
      }


      function highlightRow(rowIndex) {
        // clear previous highlights
        table.rows().nodes().to$().removeClass('bg-custom');
        
        // highlight specified row if table has data
        if (table.data().count() > 0) {
          table.row(rowIndex).nodes().to$().addClass('bg-custom');
        }
      }




    function updateForm(idx) {
      var data = table.row(':eq(idx)', {page:'current'}).data();
      $('#data-form :input').each(function() {
        if ($(this).attr('name') in data) {
          $(this).val(data[$(this).attr('name')]);
        }
      });
    }

    if (!($('#data-form button[type="submit"]').prop('disabled'))) {
      $('#data-form :input').attr('readonly', false);
    }


    // Select the clear button

    // Add an event listener to the clear button
    clearBtn.addEventListener('click', function () {
      resetBtns();
    });



  // get data when row is clicked and populate form
    $('#data tbody').on('click', 'tr', function () {
      var data = table.row(this).data();
      $('#data-form input').each(function () {
        var name = $(this).attr('name');
        $(this).val(data[name]);
        // store the selected row index
      var selectedRowIndex = table.row(this).index();
      });
    });



    // Get the cancel button element
    const cancelButton = document.querySelector('button[type="cancel"]');

    // Add a click event listener to the cancel button
    cancelButton.addEventListener('click', function(event) {
      event.preventDefault(); // Prevent submitting
      // clearBtn.click();
      resetBtns();
    });






    function resetBtns() {
      // Loop through all input elements inside the table's header
      const inputs = document.querySelectorAll('#data thead input');
      inputs.forEach(input => input.value = '');
      // Clear search input box
      $('#data_filter input').val('').keyup();
      $('#data-form button[type="submit"]').attr('disabled', true);
      $('#data-form button[type="cancel"]').attr('disabled', true);
      overlay.style.display = "none";
      showPagination();
      if (saveMode) {
        enableTable();

      }
      saveMode = "";
      setSaveMode(saveMode);       
      resetErrors();
      // sleep(50);  

      location.reload();
    }


    // disable and enable certain elements for editing data
    function editMode() { 
      $('#data_filter > button:nth-child(1)').attr('disabled',true);
      $('#data_filter > button:nth-child(2)').attr('disabled',true);
      hidePagination();
      disableTable();
      $('#data-form :input').attr('readonly', false);
      $('#data-form button[type="submit"]').attr('disabled', false);
      $('#data-form button[type="cancel"]').attr('disabled', false);
      $('#data :input').prop('disabled', false);
      // Add the overlay to the document body
      overlay.style.display = "flex";   
    }




    // popupDebug(sessionStorage.getItem("rdata"));
    // confirm("SAVE MODE "+saveMode+" "+"{{session['ERR_MSGS'] }}");
    if (saveMode == "EDIT" || saveMode == "NEW") {
      var errmsg = "{{session['ERR_MSGS'] }}";
      if ( errmsg === "{}") {
          // confirm("NO ERRORS FOUND");
          const tinputs = JSON.stringify(saveFormData('data-form'));
          sessionStorage.setItem('formData', tinputs);
          resetBtns();         
        } else {
             // confirm("ERRORS ENCOUNTERED!") 
             editMode();
        }
      } 
    else 
      {
        // confirm("ELSE SAVEMODE");
        overlay.style.display = "none";
        // Restore form inputs after the page is reloaded
        const savedInputs = JSON.parse(sessionStorage.getItem('formData'));
        if (savedInputs) {
          restoreFormData('data-form', savedInputs);
          sessionStorage.removeItem('formData');
          updateColumnFilterInputs();  
          // confirm("UPDATEFILTERS ");
          location.reload();
        } 
      }




<!--    $('#data-form button[type="submit"]').attr('disabled', true);-->

    // submit form on save changes button click
    $('#data-form').submit(function(e) {
      e.preventDefault();
      var fdata = getFormInputs("data-form");
      // popupDebug(JSON.stringify(fdata));
      var data = $(this).serializeArray();
      var url_mode = "";
      if (saveMode == "EDIT") {
         url_mode = "/update_company";
      } 
      if (saveMode =="NEW") {
         url_mode = "/new_company";}
      // confirm("BEFORE  url_mode setting"+url_mode);
      $.ajax({
        type: "POST",
        url: url_mode,
        data: data,
        success: function(response) {
          console.log(response);
          // location.reload();
        },  error: function(jqXHR, textStatus, errorThrown) {
            console.log("Error: " + errorThrown);
          }
      });
      sleep(50);
      location.reload();
    });







    function disableTable() {
      var table = document.getElementById("data");

      // Add an event listener to the table
      table.addEventListener("click", function(event) {
        // Stop the propagation of the event to its parent elements
        event.stopPropagation();
      }, true);

      // Disable all pointer events on table rows
      var rows = table.getElementsByTagName("tr");
      for (var i = 0; i < rows.length; i++) {
        rows[i].style.pointerEvents = "none";
      }

    }


    function enableTable() {
      var table = document.getElementById("data");

      // Remove the click event listener from the table
      table.removeEventListener("click", function(event) {
        event.stopPropagation();
      }, true);

      // Enable pointer events on all table rows
      var rows = table.getElementsByTagName("tr");
      for (var i = 0; i < rows.length; i++) {
        rows[i].style.pointerEvents = "auto";
      }
    }




    function updateColumnFilterInputs() {
      // Get all the column filter input elements
      const columnFilterInputs = document.querySelectorAll('input[id$="-filter"]');
      // Loop through the input elements and update the value with the corresponding form input value
      var totfilters = columnFilterInputs.length - 1;
      var cdx = 0;
      var itmval = "";
      columnFilterInputs.forEach((input) => {
        const columnName = input.id.split('-')[0];
        if (cdx < totfilters) {
            const formInput = document.getElementById(columnName);
            if (formInput) {
              itmval = formInput.value.toString();
              input.value = itmval;
            }
        }
        cdx = cdx + 1;
      });
    }




     function rowClick(rowIndex) {
      $(table.row(rowIndex).node()).click();
    }


    // Capture form data
    function saveFormData(formId) {
      const form = document.getElementById(formId);
      const formData = new FormData(form);
      const data = {};

      for (let pair of formData.entries()) {
        data[pair[0]] = pair[1];
      }

      return data;
    }

    // Restore form data
    function restoreFormData(formId, data) {
      const form = document.getElementById(formId);

      for (let key in data) {
        if (data.hasOwnProperty(key)) {
          const input = form.querySelector(`[name="${key}"]`);
          if (input) {
            input.value = data[key];
          }
        }
      }
    }

    


    // Add event listener for the "Add" button
    addBtn.addEventListener('click', function(event) {
      event.preventDefault();
      clearFormInputs();
      saveMode = "NEW"
      setSaveMode(saveMode);
      resetErrors();      
      editMode();

      const nameInput = document.getElementById("name");
      nameInput.focus();
      
    });




    // handle Edit button click
   $('#data tbody').on('click', '.edit_png', function () {
      var tr = $(this).closest('tr');
      var row = table.row(tr);
      var index = row.index();
      selectedRowIndex = index;      
      table.row(index).nodes().to$().addClass('bg-custom');
      rowClick(index);
      sleep(50);
      const tinputs = JSON.stringify(saveFormData('data-form'));
      sessionStorage.setItem('formData', tinputs);
      // confirm("SAVING tinputs "+tinputs);
      saveMode = "EDIT";
      setSaveMode(saveMode);
      resetErrors();
      editMode();
    });


  // handle delete button click
  $('#data tbody').on('click', 'button.delete_png', function () {
    var data = table.row($(this).parents('tr')).data();
    var tr = $(this).closest('tr');
    var row = table.row(tr);
    var index = row.index();
    var nextRow = table.row(index).node();

    if (confirm('Are you sure you want to delete this record?')) {
      $.ajax({
        type: 'DELETE',
        url: '/delete_user/' + data['id'],
        success: function(result) {
          table.ajax.reload();
          $('#data-form :input').val('').prop('readonly', true);
          $('#data-form button[type="submit"]').prop('disabled', true);
          $('#data tbody tr').removeClass('bg-custom');
        },
        error: function(result) {
          alert('Error deleting data');
        }
      });
      $(nextRow).click();
      $('#data tbody tr:first-child').addClass('bg-custom');
    }
  });


  });

</script>
{% endblock %}